<h1>Profile Page</h1>

<h3>Account Info</h3>
<h5><strong>email: </strong><%= current_admin.email %></h5>
<h5><strong>First name: </strong><%= current_admin.first_name %></h5>
<h5><strong>Last name: </strong><%= current_admin.last_name %></h5>
<h5><strong>Phone number: </strong><%= current_admin.phone_number %></h5>

<h3>Payment Info</h3>
<h5><strong>Credit card name: </strong><%= current_admin.credit_card_name %></h5>
<h5><strong>Credit card number: </strong><%= current_admin.credit_card_number %></h5>
<h5><strong>Credit card date: </strong><%= current_admin.credit_card_date %></h5>
<h5><strong>Credit card security: </strong><%= current_admin.credit_card_security %></h5>

<h3>User Info</h3>
<h5><strong>User first name: </strong><%= current_admin.user_first_name %></h5>
<h5><strong>User last name: </strong><%= current_admin.user_last_name %></h5>
<h5><strong>User phone number: </strong><%= current_admin.user_phone_number %></h5>

<%= link_to 'Edit', edit_admin_registration_path, class: 'btn btn-primary' %>
