<div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
          <% if @admin.photo.attached? %>
            <%= cl_image_tag @admin.photo.key, class: "rounded-circle img-fluid",  style: "width: 150px;", crop: :fill %>
          <% else %>
            <%= image_tag 'default.png', height: 200, width: 200, radius: :max,  crop: :fill %>
          <% end %>
            <h5 class="my-3"><%= "#{@admin.first_name} #{@admin.last_name}" %></h5>
            <p class="text-muted mb-1">Administrator</p>
            <div class="d-flex justify-content-center mt-2 mb-2">
              <%= link_to 'Edit profile', edit_admin_registration_path, class: 'btn btn-outline-primary' %>
              <%= link_to 'My Rides', rides_path, class: 'btn btn-outline-primary' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @admin.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @admin.phone_number %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

           <% if @admin.credit_card_number.nil? || @admin.credit_card_number.empty?  %>
            <div class="card mb-4 mb-md-0">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <h4 class="card-title">Payments</h4>
                  <p class="card-text"></p>
                  <%= link_to '+ Add New Credit Card', payments_path, class: 'btn btn-sm btn-primary' %>
                </div>
              </div>
            </div>
            <% else %>
             <div class="card mb-4 mb-md-0">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <h4 class="card-title">Payments</h4>
                  <p class="card-text">Name: <%= @admin.credit_card_name  %></p>
                  <p class="card-text">Final number: <%= @admin.credit_card_number.last(4)  %></p>
                  <div class="d-flex justify-content-center mt-2 mb-2">
                    <%= link_to 'Edit your payment', payments_path, class: 'btn btn-outline-primary' %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-md-6">
          <% if @admin.user.nil? %>
            <div class="card mb-4 mb-md-0">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <h4 class="card-title">User</h4>
                  <p class="card-text"></p>
                 <%= link_to '+ Add New User', new_users_path, class: 'btn btn-sm btn-primary' %>
                </div>
              </div>
            </div>
            <% else %>
            <div class="card mb-4 mb-md-0">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <h4 class="card-title">User</h4>
                  <p class="card-text">Name: <%= "#{@admin.user.first_name} #{@admin.user.last_name}" %></p>
                  <p class="card-text">Phone: <%= @admin.user.phone_number %></p>
                  <div data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
                    <input data-clipboard-target="input" type="text" value="http://localhost:3000/home?refeer=<%=@admin.id%>" readonly>
                    <button class="btn btn-sm btn-outline-primary" data-action="click->clipboard#copy"><i class="fa-regular fa-copy"></i></button>
                  </div>
                  <div class="d-flex justify-content-center mt-2 mb-2">
                    <%= link_to 'Edit user', edit_user_path(@admin.user), class: 'btn btn-outline-primary' %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
