<body>
  <section id="testimonials">
    <!--heading--->
    <div class="testimonial-heading">
      <span>Reviews</span>
    </div>
     <% if @users.reviews.empty? %>
                      <small><em class="text-muted"> No reviews about this user</em></small>
                        <% end %>
    <!--VERIFICAR SÉ E USER OU ADMIN QUE VAI SER AVALIADO PELO MOTORISTA------>
    <%@user.reviews.each do |review|%>
    <div class="testimonial-box-container">
      <!--BOX-1-------------->
      <div class="testimonial-box">
        <!--top------------------------->
        <div class="box-top">
          <!--profile----->
          <div class="profile">
            <!--img---->
            <div class="profile-img">
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key %>
              <% else %>
              <%= image_tag 'profile.png' %>
              <% end %>
            </div>
            <!--name-and-username-->
            <div class="name-user">
              <strong><%=review.user.first_name%></strong>
              <span><%=review.user.phone_number%></span>
            </div>
          </div>
          <!--reviews------>
          <div class="reviews"> <% review.stars.times do %>
            <i class="fas fa-star"></i>
         <%end%>
          </div>
        </div>
        <!--Comments---------------------------------------->
        <div class="client-comment">
          <p><%= review.content%></p>
        </div>
      </div>
    <%end%>
  </section>
</body>
