<body>
  <section id="testimonials">
    <!--heading--->
    <div class="testimonial-heading">
      <h5> Reviews </h5>
    </div>

    <!-------->
    <% if @ride.reviews.present? %>
      <%@ride.reviews.each do |review|%>
      <div class="testimonial-box-container">
        <!--BOX-1-------------->
        <div class="testimonial-box">
          <!--top------------------------->
          <div class="box-top">
            <!--profile----->
            <div class="profile">
              <!--img---->
              <div class="profile-img">
                <% if review.author == 'admin' %>
                  <%= cl_image_tag review.admin.photo.key %>
                <% elsif review.author == 'driver' %>
                  <%= cl_image_tag review.driver.photo.key %>
                <% else %>
                  <%= image_tag 'default.png' %>
                <% end %>
              </div>
              <!--name-and-username-->
              <div class="name-user">
                <% if review.author == 'admin' %>
                  <p class="mt-3"><strong><%=review.admin.first_name%> <%=review.admin.last_name%></strong>(admin)</p>
                  <p><strong>User:</strong><%=review.admin.user_first_name%> <%=review.admin.user_last_name%></p>
                <% else %>
                  <p class="mt-3"><strong><%=review.driver.first_name%> <%=review.driver.last_name%></strong> (Driver) </p>
                <% end %>
              </div>
            </div>
            <!--reviews------>
            <% unless review.stars.nil? %>
            <div class="reviews">
             <% review.stars.times do %>
              <i class="fas fa-star"></i>
             <%end%>
             <% else %>
             <% end %>
            </div>
          </div>
          <!--Comments---------------------------------------->
          <div class="client-comment">
            <% if review.author == 'admin' %>
              <p>Coments:</p>
              <p><%= review.content%></p>
            <% else %>
              <p>Coments:</p>
              <p><%= review.content%></p>
            <% end %>
          </div>
        </div>
      <%end%>
    <% else %>
      <p>No reviews yet!</p>
    <% end %>
  </section>
</body>
