<div class="card text-center m-3">


  <div class="card-header">
    <h6 class='mt-2'>New Ride from <strong><%= notify.user.first_name %> <%= notify.user.last_name %></strong></h6>
  </div>

  <div class="card-body">
    <h5 class="card-title">Phone-number: <strong><%= notify.user.phone_number %></strong></h5>
    <p class="card-text"><%= notify.ride.start_address %></p>

    <a href='/run/<%= notify.ride.id %>' class='card-link btn btn-primary'>Aceppt Ride</a>
    <%= link_to "Reject Ride", notify_path(@notify), class: "card-link btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

  </div>

  <div class="card-footer text-muted">
    <%= notify.created_at.strftime('%a %b %e at %l:%M %p') %>
  </div>

</div>
